:root {
    margin: 0;
    padding: 0;
    background-color: gray;
}


body {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    
    
}

table {
    width: 100%;
    border: solid black 1px;
    border-collapse: collapse;
    justify-self: start;
}

.table-wrapper {
    height: 30vh;
    width: 50vw;
    background-color: white;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

tr {
    /* display:flex;
    justify-content: space-around; */
    border: solid black 2px;
}

th {
    border: solid black 1px;
}

td {
    border: solid black 1px;
    text-align: center;
}

.add-book-menu {
    display: flex;
    flex-direction: column;
    width: 45vw;
    justify-content: space-between;
    padding: 3rem 2rem 1.5rem 2rem;
    background-color: white;

}

.menu-opt {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.radio-div {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.radio-opt {
    display: flex;
    flex-direction: column;
}

.new-book {
    margin-bottom: 3rem;
}

.submit {

    margin-top: 1.5rem;
    align-self: center;
    justify-self: center;
}

.book-inputs {
    display: flex;
    justify-content: space-between;
}

.book-input, label {
    margin-top: .5rem;
}